# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
.idea/.gitignore
".idea/Term_Project_\352\277\200\352\277\200\354\235\264_v1.0.iml"
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
out/
